/* jumbotron */
.jumbotron {
  text-align: center;
  color: white;
  padding-bottom: 8%;
  margin-bottom: 0px;
}

.paral {
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
}

.paralsec {
  background-image: url(../Photos/jumbotron.jpg);
}

.fade {
  opacity: 0;
}

#profile {
  height: 300px;
  width: 300px;
}

#start {
  background-color: transparent;
  color: white;
  margin-bottom: 10px;
  font-size: 50px;
}

#start:hover {
  font-size: 60px;
}

#start:click {
  outline: 0;
  border: none;
}

/* education */
#education {
  background-color: #d6f1ff;
  padding-top: 30px;
}

#ucscImg {
  width: 100%;
  height: auto;
}

#ucscSite {
  margin-bottom: 10px;
}

.table {
  margin-top: 5%;
  text-align: center;
}

/* skills */
#skills {
  background-color: #dbdbdb;
  padding-top: 30px;
}

/* Projects */
#projects {
  background-color: #d6d7ff;
  padding-top: 30px;
}

#ameritechImg {
  width: 100%;
  height: auto;
}

#ameritechSite {
  margin-bottom: 10px;
}

#tipsyImg {
  width: 100%;
  height: auto;
}

#sankeySite {
  margin-bottom: 10px;
}

#sankeyImg {
  width: 100%;
  height: auto;
}

#tssSite {
  margin-bottom: 10px;
}

#tssImg {
  width: 100%;
  height: auto;
}

#webSite {
  margin-bottom: 10px;
}

#webImg {
  width: 100%;
  height: auto;
}

/* knowMore */
.contact-block {
  width: 50px;
  height: 50px;
  float: center;
  padding-top: 6px;
}

#linkLogo {
  color: white;
}

#backToTop {
  margin-top: 40px;
  margin-left: 10px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 60px;
}

#backToTop:hover {
  font-size: 70px;
}

/* d3.js css */
.chart-container{
    padding:25px;
    float:left;
}
/* end d3.js css */

.container-fluid {
  padding-bottom: 5%;
}

.title {
  text-align: center;
  margin-bottom: 5%;
}

body {
  position: relative;
  font-family: 'Roboto Mono', serif;
}
